<div class="container">
<h1 class="display-6"><strong>&gt About</strong></h1>
<pre><code># Pastebin</code>
<code></code>
<code>Sharing text across the internet is a good thing and should be easy to do from any device.</code>
<code>This is especially useful when sharing snippets of code.</code>
<code></code>
<code>With a clean design we hope that Pastebin achieves this in the easiest way possible.</code>
<code>If not, please let us know what we can improve.</code>
<code></code>
<code>## Usage</code>
<code></code>
<code>Type what you want me to see, click the create button and then copy the URL to share it with anyone you want.</code>
<code>Send that URL to someone and they will see exactly what you see.</code>
<code></code>
<code>## Duration</code>
<code></code>
<code>All pastes are permanent unless we decide to clear our records. This may happen without notice.</code>
<code>Pastes that violate human decency will be removed as soon as noticed.</code>
<code></code>
<code>Seriously, do not post any weird stuff.</code>
<code></code>
<code>## Privacy</code>
<code></code>
<code>There should be no expectation for privacy on here. All pastes are public and accessible to anyone.</code>
<code>We do not store any information about our users, only the paste content and creation date.</code>
<code>Post things at your own risk. We are not responsible for any data loss.</code></pre>
</div>